version: "3.9"

services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: cms_db_9gdw_user
      POSTGRES_PASSWORD: MFbyWfwgSN2r4gm53VSi1PwCcI893Gb9
      POSTGRES_DB: cms_db_9gdw
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: ./api
    environment:
      DB_HOST: dpg-d5oi348gjchc73a6oam0-a.singapore-postgres.render.com
      DB_PORT: 5432
      DB_USER: cms_db_9gdw_user
      DB_PASSWORD: MFbyWfwgSN2r4gm53VSi1PwCcI893Gb9
      DB_NAME: cms_db_9gdw
      JWT_SECRET: dev_jwt_secret_change_in_prod
      PORT: 4000
    depends_on:
      - db
    ports:
      - "4000:4000"

  worker:
    build: ./worker
    environment:
      DB_HOST: dpg-d5oi348gjchc73a6oam0-a.singapore-postgres.render.com
      DB_PORT: 5432
      DB_USER: cms_db_9gdw_user
      DB_PASSWORD: MFbyWfwgSN2r4gm53VSi1PwCcI893Gb9
      DB_NAME: cms_db_9gdw
      JWT_SECRET: dev_jwt_secret_change_in_prod
    depends_on:
      - db

  web:
    build: ./web
    environment:
      VITE_API_BASE_URL: http://localhost:4000
    depends_on:
      - api
    ports:
      - "3000:3000"

volumes:
  db_data:


